<!DOCTYPE html>
{% extends 'myapp/base.html' %}
{% load static %}

{% block body_block %}



  <div id="content">
<div id="content-header-logo">
  <img id="logo" src="https://www.trb.tas.gov.au/Web%20Development%20Images/_w/signup_jpg.jpg">
</div>
  <div id="content-header-label">Webmail Login</div>

  </div>
  </div>
</div>
<h1>Sign Up page</h1>
<div class="container">
  <form  method="POST">
    {{form.as_p}}
    {% csrf_token %}

  <input type="Submit" name="btn btn-primary" value="Submit">
</form>
</div>

{% endblock %}
